/* font-family: 'Courier Prime', monospace;
font-family: 'Noto Sans', sans-serif;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  height: 100vh;
  background: rgb(86, 255, 0);
  background: radial-gradient(
    circle,
    rgba(86, 255, 0, 1) 0%,
    rgba(70, 252, 219, 1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 0px auto;
  position: relative;
}
.header {
  font-family: "Courier Prime", monospace;
  font-size: 2em;
  padding: 20px;
}
.container-form {
  display: inline-block;
}
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #437dff;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}

h2 {
  color: #333;
}

p {
  margin: 0 0 10px;
}

/* index.php */
.container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  border: 1px solid #333;
  border-radius: 5px;
  box-sizing: border-box;
}
.form {
  box-sizing: border-box;
  padding: 20px;
  display: inline-block;
}
